body {
    background-color: #ebfcfb;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  #img-div {
    display: block;
    text-align: center;
    max-width: none;
  }
  header {
    background-color: #2d3047;
    color: white;
    padding: 20px;
  }
  h1:hover {
    background-color: #aa8b88;
  }
  footer {
    background-color: #208983;
    color: white;
    text-align: center;
    padding: 15px;
  }
  
  li {
    padding: 10px;
  }
  #title {
    text-align: center;
  }